<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
{{- if eq .Title .Site.Title }}
<title>{{ .Site.Title }}</title>
{{- else }}
<title>{{ .Title }} &middot; {{ .Site.Title }}</title>
{{- end }}

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/slim.css">
{{ range .Site.Params.custom_css -}}
<link rel="stylesheet" type="text/css" href="{{ . | safeHTML | absURL }}">
{{ end }}

{{- partial "icon.html" . -}}

<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ template "_internal/google_analytics.html" . }}
